.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    padding: 10px;
    max-width: 100%;
    height: auto;
    background-color: #6278F7;
    padding: 32px 0;
}

.footer .iconesContainer {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 18px;
}

.footer .logoContainer {
    padding: 24px;
    margin: 18px;
}


.footer p {
    font-size: 24px;
    font-weight: 200;
    color: #FFF;
    margin: 18px;
}
